.page-numbers{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width:550px;
}

.page-numbers li:hover{
    cursor: pointer;
}

.active-number{
    color: #fff;
    font-weight: bold;
    background-color: #ef350e;
    border: solid 3px #ef350e;
}